modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-sheet:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
TELEGRAM_BOT_TOKEN = "8489930334:AAFpZpASPCcR6mEQhar72-9Nb3pYZJwOqXE"
TELEGRAM_CHAT_ID = "5330125827"
JWT_SECRET = "4e13f046637e0e7120601b09bf828cbeaf770f64c2f5f1f14ba23720d176ecb3"

[nix]
channel = "stable-25_05"
