modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-sheet:1.0.0", "github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
JWT_SECRET = "55bfa084ec84811fb6e73156663f8dafbf7a6f60cea5bb0ce4d74a8dab7c7421"
TELEGRAM_BOT_TOKEN = "8489930334:AAFpZpASPCcR6mEQhar72-9Nb3pYZJwOqXE"
TELEGRAM_CHAT_ID = "5330125827"
GOOGLE_CLIENT_ID = "815486710146-tj5usaihd0trm6pp76vshhlgr0vobh0k.apps.googleusercontent.com"
TELEGRAM_OWNER_EMAIL = ""

[nix]
channel = "stable-25_05"
